<form name="loginform" class="css-form" novalidate ng-submit="login()">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><back></back> Please enter your 4 digit PIN number</h3>
	  </div>
	  <div class="panel-body">
	    <div class="container">
			<div class="row top-buffer">
		  		<div class="col-xs-6">
				  <div>
				    <input type="password" name="pin" ng-model="pin" class="form-control" placeholder="Please enter your PIN" minlength="4" maxlength="4" required="true" pattern="[0-9]{4}">
				  </div>
				</div>
			</div>
			<div class="row top-buffer">
		  		<div class="col-xs-2">
				  	<button type="submit" class="btn btn-success btn-lg">Enter</button>
				</div>

		  		<div class="col-xs-2">
				  	<button type="button" class="btn btn-warning btn-lg" ng-click="pin=''">Clear</button>
				</div>

		  		<div class="col-xs-2">
				  	<button type="button" class="btn btn-danger btn-lg" ng-click="abort()">Cancel</button>
				</div>
			</div>
			<div class="row top-buffer">

		  		<div class="col-xs-6">
		  			<div ng-show="loginform.$submitted" >
						<span ng-show="loginform.pin.$error.required" class='alert alert-danger' role="alert">PIN cannot be empty.</span>
						<span ng-show="loginform.pin.$error.minlength || loginform.size.$error.maxlength || loginform.pin.$error.pattern" class='alert alert-danger' role="alert">
	      					PIN should be a 4 digit number.
						</span>

				    </div>
			    	<message data="messageObject" ></message>
			  	</div>
			</div>
		</div>
	  </div>
	</div>
</form>
