<form name="withdrawalForm" class="css-form" novalidate ng-submit="withdrawalForm.$valid && withdraw()">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><back></back> Select the Amount to withdraw</h3>
	  </div>
	  <div class="panel-body">
	      	<div class="container">
				<div class="row top-buffer">
			  		<div class="col-xs-4">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="submit" class="btn btn-info btn-lg" ng-click="amount=50">50</button>
					  </div>
					</div>

			  		<div class="col-xs-2">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="submit" class="btn btn-info btn-lg" ng-click="amount=100">100</button>
					  </div>
					</div>
				</div>
				<div class="row top-buffer">
			  		<div class="col-xs-4">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="submit" class="btn btn-info btn-lg" ng-click="amount=150">150</button>
					  </div>
					</div>

			  		<div class="col-xs-2">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="submit" class="btn btn-info btn-lg" ng-click="amount=200">200</button>
					  </div>
					</div>
				</div>
				<div class="row top-buffer">
			  		<div class="col-xs-4">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="submit" class="btn btn-info btn-lg" ng-click="amount=250">250</button>
					  </div>
					</div>

			  		<div class="col-xs-2">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="submit" class="btn btn-info btn-lg" ng-click="amount=300">300</button>
					  </div>
					</div>
				</div>
				<div class="row top-buffer">
			  		<div class="col-xs-4">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="button" class="btn btn-info btn-lg" ng-click="customAmount()">Custom amount</button>
					  </div>
					</div>
			  		<div class="col-xs-2">
					  <div class="btn-group" role="group" aria-label="...">
					  	<button type="button" class="btn btn-danger btn-lg" ng-click="abort()">Cancel</button>
					  </div>
					</div>

				</div>
				<div class="row top-buffer">
			  		<div class="col-xs-6">
					  <message data="messageObject" ></message>
				  	</div>
				</div>
			</div>
	  </div>
	</div>

</form>